.card {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card > img {
  width: 100px;
  height: 120px;
  border: 1px solid red;
  object-fit: cover;
}
.card > p {
  text-align: center;
  font-size: 14px;
  border: 1px solid pink;
}
.card-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  padding: 1rem;
  border: 1px solid blue;
  /* padding: 0.5rem; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
}

.pagination-bar {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.pagination-btn {
  height: 2rem;
  width: 2rem;
}

.pagination-btn.active {
  border: 1px solid green;
}
