.container {
  /* max-width: 100%;
  width: 100%;
  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px; */
  max-width: 700px;
  margin: 40px auto;
}

.container h2 {
  /* text-align: center; */
  margin-bottom: 1.5rem;
}

.new-comment {

  display: flex;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.comments {
}

.comment {
  position: relative;
  padding-left: 12px;
  margin-bottom: 12px;
}

.comment::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #ccc;
}

.reply-box {
  display: flex;
  gap: 8px;
  margin-bottom: 6px;
}

.replies {
  margin-left: 2rem;
}

.new-comment input {
  flex: 1;
  padding: 8px;
}

.new-comment button {
  padding: 8px 12px;
}
.reply-box button {
  padding: 6px 10px;
}

.reply-box input {
  flex: 1;
  padding: 6px;
}

.comment > button {
  background: none;
  border: none;
  color: blue;
  padding: 0;
  cursor: pointer;
  margin-top: 4px;
  margin-left: 4px;
  font-size: 14px;
}
